#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
.photographer__img {
  height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/* 
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
} */

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* mycone */
#main{
    width: 90%;
    margin: 0 auto;
}
.photographDetils{
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photographDetils h1 {
    font-size: 4rem;
    color: #D3573C;
}
.photographDetils h6 {
    font-size: 24px;
    color: #901C1C;
}
.photographDetils p {
    color: #525252;
    font-size: 1.125rem;
    /* line-height: 23px; */
}

/* filter */
.filter{
  display: flex;
  align-items: center;
  background: #911C1C;
  border: 1px solid #911C1C;
  padding: 17px 15px 17px 41px;
  color: #ffffff;
  font-size: 19px;
  width: 200px;
  text-align: start;
  border-radius: 3px;
  
}
.filterDropdown{
  background: rgb(145, 28, 28);
  border: 1px solid #911C1C;
  width: 198px; 
}

.filterDropdown a {
  color: rgb(255, 255, 255);
  font-size: 19px;
  display: block;
 text-decoration: none;
  padding: 17px 42px;
  text-align: start;
}
#filterArrow{
  padding-left:10px ;
}
.iconDropdown img {
  transform: rotate(180deg);
}
img.iconMenu {
  padding: 0px 13px 0px;
}

.line {
  background: white;
  height: 3px;
  width: 160px;
  margin: 1px 19px;
  border-radius: 10px;
}
/* /filterClose  */
.mediaList .row{
    display: flex;
    flex-wrap: wrap;
}
 .mediaList .row > .column {
    padding: 0 8px;
    width: 31%;
  }
  
  .mediaList .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .mediaList .column {
    float: left;
    width: 33%;
    margin: 10px 0px;
  }
  
  /* The Modal (background) */
 
  
  /* The Close Button */
  .mediaList .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .mediaList .close:hover,
  .mediaList .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
/*   
  .mediaList .mySlides {
  /
  }
   */
  .mediaList .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .mediaList .prev,
  .mediaList .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .mediaList .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .mediaList .prev:hover,
  .mediaList .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .mediaList .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .mediaList img {
    margin-bottom: -4px;
  }
  
  .mediaList .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .mediaList .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  /* .mediaFilter.ma-y{
    margin: 22px 0px;
} */
  .mediaList img.hover-shadow {
    transition: 0.3s;
  }
  
  .mediaList .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mediaList .column img {
    height: 350px;
    object-fit: cover;
    border-radius: 11px;
    
}
.mediaList video.mediaVideo {
  height: 348px;
  object-fit: cover;
  border-radius: 11px;
  width: 352px;
}
video.mediaVideo.slider-img {
  height: 90vh;
  width: 100%;
  object-fit: contain;
  border-radius: 11px;
}

.mediaList div.ma-y{
    margin: 22px 0px;
}
.mediaList .mediaSubTitle{
    display: flex;
    justify-content: space-between;
}
.mediaSubTitle {
    color: #911C1C;
    font-size: 1.5rem
}
.mediaList .mediaSubTitle img{
    height: 25px;
}

/* //contactForm */
@media screen and  (min-width: 1024px){
 
  .form__submitButton {
      margin-left: 0;
      height: 69px;
  }
  }
  
  @media screen and  (min-width: 768px){
  .form__label {
      font-size: 1.75em;
  }
  }
  
  @media screen and (min-width: 681px){
 
  }
  
  @media screen and (min-width: 600px){
  .form__text {
      height: 69px;
  }
  
  }
  
  
  .form__header{
      display:flex;
      justify-content: space-between;
      padding: 2rem;
  }
  
  .close__img{
      height:2rem;
      width:2rem;
      padding-top: 2rem;
      color: #fafafa;
  }
  .form__label {
      display: block;
      font-size: 1.5em;
      margin: 14px 0 6px 0;
  }
  .form__text {
      width: 100%;
      border-radius: 0.4166666667em;
      border: none;
      font-size: 1.5em;
      padding-left: 10px;
  }
  button, input, select {
      margin: 0;
  }
  .form__submitButton {
      display: block;
      background: #901c1c;
      color: #fafafa;
      border-radius: 0.4166666667em;
      width: 170px;
      height: 69px;
      font-size: 1.0625em;
      font-family: inherit;
      letter-spacing: 1px;
      font-weight: bold;
      cursor: pointer;
      transition: all 300ms;
      border: none;
      margin-left: 0px;
  }
/* //model */

/* .modelPopUp{
  position: fixed;
    height: 100%;
    width: 100%;
    background: #0000007d;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
.contact__Form{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #00000061;
}

.total__count {
  width: 200px;
  padding: 23px 16px;
  background: #DB8876;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: -1px;
  right: 0px;
}
.mySlides img{
  max-width: 100%;
  max-height: 500px;
  width: 100%; 
  object-fit: cover;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 1024px) {
  .modal__content {
      overflow: auto;
  }

  .modal__head {
      font-size: 3em;
  }

  .form__submitButton {
      margin-left: 0;
      height: 69px;
  }
}

@media screen and (min-width: 768px) {
  .form__label {
      font-size: 1.75em;
  }
}

/* @media screen and (min-width: 681px) {
  .modal__content {
      width: 669px;
      height: 90%;
      filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
  }
} */

@media screen and (min-width: 600px) {
  .form__text {
      height: 69px;
  }

  /* .modalForm {
      position: fixed;
      top: 1rem;
      height: 100%;
      width: 100%;
  } */

}

.modalForm {
  display: none;
  position: fixed;
  top: 1rem;
  height: 100%;
  width: 100%;
}

.modal__content {
  width: 40%;
  height: 100%;
  background: #db8876;
  position: relative;
  /* overflow: scroll; */
  border-radius: 0.4166666667em;
  margin: auto;
  flex-wrap: wrap;

}

.form__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal__body {
  width: 90%;
  margin: 20px auto 20px auto;
}

.modal__head {
  font-size: 2.25em;
}

.close__img {
  height: 2rem;
  width: 2rem;
  color: #fafafa;
}

.form__label {
  display: block;
  font-size: 1.5em;
  margin: 14px 0 6px 0;
}

.form__text {
  width: 100%;
  border-radius: 0.4166666667em;
  border: none;
  font-size: 1.5em;
  padding-left: 10px;
}

button, input, select {
  margin: 0;
}

textarea#textArea {
  width: 100%;
  border-radius: 0.4166666667em;
  border: none;


}

.form__submitButton {
  display: block;
  background: #901c1c;
  color: #fafafa;
  border-radius: 0.4166666667em;
  width: 170px;
  height: 60px;
  font-size: 1.0625em;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
  border: none;
  margin-left: 0px;
}